{% extends "layouts/log-and-reg-layout.html" %}

{% block title %}
    HELLO!
{% endblock %}

{% block body %}
<p class="lead text-center">First, we will need you to log in.</p>

<form class="border-bottom-divide pb-3" action="{{ url_for('login') }}" method="post">
    <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">&#9919</span>
        </div>
        <input type="password" name="password" class="form-control" aria-label="password" placeholder="Password">
    </div>

    <button class="btn btn-light mb-4 btn-block">Log In</button>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}

</form>

<p class="text-center">Don't have an account yet?</p>
<a href="{{ url_for('register') }}" class="btn btn-light btn-block">Register</a>

{% endblock %}
